In [1]:
import pandas as p
from math import ceil

In [2]:
df = p.read_csv('Data/train_v2.csv')
ratings = set(df.rating)
ratings

{1, 2, 3, 4, 5}

In [3]:
# Preview a part of dataframe
df[:5]

       ID  user  movie  rating
0  610739  3704   3784       3
1  324753  1924    802       3
2  808218  4837   1387       4
3  133808   867   1196       4
4  431858  2631   3072       5

In [4]:
mov_ratings = {}
for x in df:
    print(x)
#     if x.movie not in mov_ratings:
#         mov_ratings[x.movie] = [x.rating]
#     else:
#         mov_ratings[x.movie].append(x.rating)
mov_ratings

ID
user
movie
rating

{}

In [5]:
for index, row in df.iterrows():
    if row['movie'] not in mov_ratings:
        mov_ratings[row['movie']] = []
    mov_ratings[row['movie']] += [row['rating']]

In [6]:
for x in mov_ratings:
    rating = sum(mov_ratings[x])/len(mov_ratings[x])
    mov_ratings[x] = ceil(rating)

In [7]:
# Testing
df = p.read_csv('Data/test_v2.csv')
values = {}
for index, row in df.iterrows():
    if row['movie'] in mov_ratings:
        values[row['ID']] = mov_ratings[row['movie']]
    else:
        values[row['ID']] = 0

In [8]:
with open('Data/res.csv', 'w') as f:
    for x in values:
        line = str(x) + ',' + str(values[x])+'\n'
        f.write(line)