In [65]:
import pandas as p
from math import ceil

In [66]:
df = p.read_csv('Data/train_v2.csv')
ratings = set(df.rating)
ratings

{1, 2, 3, 4, 5}

In [67]:
# Preview a part of dataframe
df[:5]

       ID  user  movie  rating
0  610739  3704   3784       3
1  324753  1924    802       3
2  808218  4837   1387       4
3  133808   867   1196       4
4  431858  2631   3072       5

In [68]:
mov_ratings, user_ratings = {}, {}
for x in df:
    print(x)
#     if x.movie not in mov_ratings:
#         mov_ratings[x.movie] = [x.rating]
#     else:
#         mov_ratings[x.movie].append(x.rating)
mov_ratings

ID
user
movie
rating

{}

In [69]:
for index, row in df.iterrows():
    if row['movie'] not in mov_ratings:
        mov_ratings[row['movie']] = []
    if row['user'] not in user_ratings:
        user_ratings[row['user']] = []
    mov_ratings[row['movie']] += [row['rating']]
    user_ratings[row['user']] += [row['rating']]

In [70]:
for x in mov_ratings:
    rating = sum(mov_ratings[x])/len(mov_ratings[x])
    mov_ratings[x] = rating
for x in user_ratings:
    rating = sum(user_ratings[x])/len(user_ratings[x])
    user_ratings[x] = rating

In [71]:
# Testing
df = p.read_csv('Data/test_v2.csv')
values = [['ID', 'rating']]
for index, row in df.iterrows():
    if row['movie'] in mov_ratings and row['user'] in user_ratings:
        values += [[row['ID'], (mov_ratings[row['movie']] + user_ratings[row['user']])/2 ]]
    elif row['movie'] in mov_ratings:
        values += [[row['ID'], mov_ratings[row['movie']]]]
    elif row['user'] in user_ratings:
        values += [[row['ID'], user_ratings[row['user']]]]
    else:
        values += [[row['ID'], 0]]

In [72]:
df = p.DataFrame(values)
with open('Data/res.csv', 'w') as f:
    f.write(df.to_csv(index=False, header=False))